body
{
   background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjW8fugxLPTAhWF0hoKHX53BckQjRwIBw&url=http%3A%2F%2Fwww.earthporm.com%2F16-magnificent-trees-world%2F&psig=AFQjCNFLzMnG3jlBnsFV2-eUzJrt_BZ9lg&ust=1492794829374875");

   background-color: purple;
}
#calc-container
{
   /*border: 30px;*/
   /*padding: 10px;*/
   font-size: 500%;
   margin-left: auto;
   margin-right: auto;
   border-left: 2em;
   border-right: 2em;
   padding-top: 0px;
   padding-left: 550px;
}
h1
{

   font-size: 500%;
   top: 0px;
   text-align: center;
   /*padding: 0;*/
   /*padding-left: 200px;*/
}
.c
{
   color: red;
}
.a
{
   color: yellow;
}
.l
{
   color: green;
}
.u
{
   color: white;
}
.t
{
   color: blue;
}
.o
{
   color: brown;
}
.r
{
   color: pink;
}







#button
{
   font-size: 50%;
   color: black;
   width: 50px;
   height: 60px;
   margin: 0;
   padding: 0;
}
hover
{
   display: none;
}
#button:hover
{
   color: red;
}

#outPut
{
   color: white;
   width: 255px;
   background-color: black;
   height: 40px;
}
#button0
{
   font-size: 50%;
   color: black;
   height: 60px;
   width: 190px;
}
#button0:hover
{
   color: red;
}
